/***** BASE STYLES *****/

body {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
}


/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width1 {
    width: 200px;
    float: left;
}

.half-width2 {
    width: 1000px;
    float: left;
}

.half-width3 {
    width: 550px;
    float: left;
}

.half-width4 {
    width: 650px;
    float: left;
}


/***** HEADER *****/

#logo {
    height: 220px;
    width: 220px;
    margin: 40px 0px 0px 0px;
}

h1 {
    color: rgb(208, 80, 255);
    font-size: 90px;
    float: right;
    margin: 60px 340px 0px 0px;
    font-family: 'Kanit', sans-serif;
}

nav {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    float: right;
    margin: 0px 0px 35px 685px;
}

#navlink2 {
    list-style: none;
    text-decoration: none;
}


/***** MAIN *****/

h2 {
    color: rgb(229, 181, 247);
    font-size: 30px;
}

p {
    color: rgb(229, 181, 247);
}

ul {
    color: rgb(229, 181, 247);
}

#secondsectionheadline {
    margin: 80px 0px 0px 0px;
}


/***** FOOTER *****/

h3 {
    color: rgb(120, 125, 221);
    margin: 90px 0px 0px 0px;
    font-size: 30px;
}

#icon {
    height: 50px;
    width: 50px;
    margin: 80px 614px 40px 0px;
    float: right;
}